
<br>

<p id="notice"><%= notice %></p>

<%= form_tag nil, method: 'GET' do %>
  <div class="row">
    <div class="col-lg-12">
      <div class="input-group">
        <input id="q" name="q" type="text" value="<%=@q%>" class="form-control" placeholder="Pesquise pelo nome ou apartamento">
        <span class="input-group-btn">
          <button class="btn btn-success" type="submit" >Buscar</button>
        </span>
      </div>
    </div>
  </div>
  <br />

<% end %>
<div class="panel panel-default">
  <div class="panel-heading">Lista de Propostas</div>
  <div class="panel-body">
    <table class="table table-hover table-condensed">
      <thead>
        <tr>

          <th>Nome segurado</th>
          <th>N° Apolice</th>
          <th>CPF</th>
          <th>Prêmio liquido</th>
          <th>Adicional</th>
          <th>Custo</th>
          <th>IOF</th>
          <th>Prêmio Total</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @apolices.each do |apolice| %>
          <tr>
            <td><%= apolice.nome_segurado %></td>
            <td><%= apolice.apolice %></td>
            <td><%= apolice.cpf %></td>
            <td><%= apolice.valr_premioliquido %></td>
            <td><%= apolice.valr_adicional %></td>
            <td><%= apolice.valr_custo %></td>
            <td><%= apolice.valr_iof %></td>
            <td><%= apolice.valr_premiototal %></td>
            <td align='right'>
              <div class="btn-group">
                  <%= link_to edit_proposta_path(apolice), class: "btn btn-default btn-sm" do %>
                    <span class="glyphicon glyphicon-pencil text-primary"></span> Editar
                  <% end %>
                 <%= link_to apolice, method: :delete, data: { confirm: 'Deseja excluir o registro?' }, class: "btn btn-default btn-sm" do %>
                    <span class="glyphicon glyphicon-trash text-danger"></span> Excluir
                  <% end %>
                  <%= link_to relatorioproposta_path(id: apolice, format: :pdf), class: "btn btn-default btn-sm" do %>
                    <span class="glyphicon glyphicon-print"></span> 1°
                  <% end %>
                  <button type="button" class="btn btn-default btn-sm" data-toggle="modal" onclick="copiar('<%=apolice.id%>')" data-target="#smallModal">Copiar Link</button>
              </div>
             </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= paginate @apolices, :window => 2 %>

<br>
<%= link_to new_proposta_path, class: "btn btn-default btn-sm" do %>
       <span class="glyphicon glyphicon-file"></span>Novo
<% end %>


<div class="modal fade" id="smallModal" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Link para enviar proposta</h4>
      </div>
      <div class="modal-body">
        <h4 id="link">https://mapfre.herokuapp.com/visualizarproposta?id=<span id="idSpan"></span></h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>


<script>
 function copiar(id) {

    $("#idSpan").text(id);
    //var url = 'https://mapfre.herokuapp.com/visualizarproposta?id=' + id;
    //document.getElementById("#link").select();
    //$("#link").clone()
    //document.execCommand('copy');

    
 
 }
</script>